body {
    background-color: #0f172a;
    color: white;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    max-width: 600px;
}

.card {
    background-color: #1e293b;

    padding: 20px;
    border-radius: 12px;

    margin-top: 20px;
}

a {
    display: inline-block;

    margin-top: 20px;
    padding: 12px 20px;

    background-color: #2563eb;
    color: white;

    text-decoration: none;
    border-radius: 8px;
}

a:hover {
    background-color: #1d4ed8;
}